
// .bgbox{
//     // background:#1B1D1F;
//     height:85px;
//     display: block; 
//     float: left!important;
// }

.titleDiv{
    padding-top: 2%;
    margin-top: -2%;
    height: 32px;
}
// .title{
//     color: #4EBBBB;
//     font-family: 'SourceHanSansSC-regular';
//     font-size: 20px;
//     border-left:4px solid  #4EBBBB;
//     margin-left:20px ;
//     padding-left: 10px;
//     width:50px;
// }
hr{
    color:#B6C3CC;
    float:right;
    margin-top: 1%;
}
.contentTitleBox{
    display:flex;//改变布局方式
    flex-direction:column;
}
.contentTitle{
    color:#FFFFFF;
    height:70px;
    font-size: 14px;
    font-family: 'SourceHanSansSC-regular';
    // margin-left:-40px;
    text-align: center;
}
img{
    width: 44px;
    height:42px;
    clear: both; 
    display: block; 
    margin:auto;
}
// .ant-layout {
//     display: flex;
//     flex: auto;
//     flex-direction: column;
//     min-height: 0;
//     background: #1B1D1F;
// }
// .ant-pro-card-body{
//     display: block;
//     box-sizing: border-box;
//     height: 100%;
//     padding:10px;
//     margin:0px;
// }
    